@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parisienne&display=swap');
* {
  margin: 0px;
  padding: 0px;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.parisienne {
  font-family: "Parisienne", cursive;
  font-weight: 400;
}

/* shared */
.display-flex {
  display: flex;
}
.light-color {
  color: #e6533c;
}
.white {
  color: #ffffff;
}
.gray {
  color: rgba(255, 255, 255, 0.5);
}
.dark{
  color: black;
}
h2{
  font-size: 3rem;
  margin-bottom: 14px;
  font-weight: 900;
}
.btn-primary {
  padding: 16px 47px;
  border-radius: 46px;
  border: none;
  background-color: #e6533c;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  margin-right: 14px;
}


/* nav */
.navbanner {
  height: 715px;
  padding: 57px 190px;
  align-items: center;
  background-image: linear-gradient(to bottom, #0f0f0f 0%, #1a1a1a 100%);
}
.navi {
  /* border: 5px red solid; */
  justify-content: space-between;
}
.nav-links {
  /* border: 5px green solid; */
  width: 465px;
  height: 45px;
  justify-content: space-between;
  gap: 47px;
  padding-right: 24px;

  border-radius: 46px;
  align-items: center;
}
.brand-name {
  font-size: 2rem;
  font-weight: 900;
}
.link {
  font-size: 1.1rem;
  font-weight: 400;
}
.home {
  width: 100%;
  height: 100%;
  background-color: #e6533c;
  border-radius: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
}
.lines {
  display: none;
}

/* banner */
.banner {
  width: 1440px;

  justify-content: space-between;
  max-width: 100%;
}
.banner-description {
  margin-top: 96px;
}
h1 {
  font-size: 4.8rem;
  font-weight: 900;
}
.second-btn {
  background-color: transparent;
  border: 2px white solid;
}
.para {
  margin-bottom: 28px;
  margin-top: 28px;
}
.banner-side{
  display: flex;
  flex-direction: column;

}
.trainer1 {
  max-width: 100%;
  margin-top: 32px;

  margin-right: 80px;
}
#count{
  font-size: 2.5rem;
  font-weight: 900;
}
.card1{
  font-size: 0.9rem;
  padding: 17px 23px;
  margin-top: -457px;
  margin-left: 274px;
  max-width: 60%;
  border-radius: 12px;
  border: none;
  background-color: transparent;
  backdrop-filter: blur(10px);
  
}

.circle{
  height: 40px;
  font-weight: 40px;

  border-radius: 50%;
}
.card2{
  font-size: 0.9rem;
  padding: 17px 23px;
  max-width: 40%;
  border-radius: 12px;
  margin-left:-113px ;
  margin-top: 110px;
  border: none;
  background-color: transparent;
  backdrop-filter: blur(10px);
}
#para2{
  color: rgba(239, 237, 232, 0.65);
}

/* main */
/* change habit */
body{
  background-color: black;
}

.habit1{
  text-align: center;

  margin: 100px 187px 58px 187px;
  max-width: 100%;
}
.habit1 > p {
  font-size: 0.9rem;
}
.habit2{
  
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 0px 198px 100px 198px;
  text-align: center;
  gap: 40px;
}
.card > img{
  border: 5px #B9B9B9 solid;
  border-radius: 50%;
  max-width: 100%;
  margin-bottom: 30px;
}
.card > p {
  margin-top: 6px;
}

/* run extra */

.run{
  background-color: rgba(34, 34, 34, 1);
  margin: 100px 190px;
  padding: 30px;
  justify-content: space-between;
}
.run1{
  margin: 40px 165px 4px 40px ;

}
.paragraph {
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 34px;
}
.run2>img{
  max-width: 100%;
  width: 450px;
  height: 310px;
  border-radius: 18px;
}
/* TRAINING   */
.training{
  margin: 100px 190px;
}
.container{
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(2,1fr);
}
.container img{
  width: 100%;
  height: 100%;
}
.img1{
  grid-column: 1 / span 3;
  background-color: rgba(6, 255, 210, 0.5);
}
.imgpara{
  margin-top:-100px ;
  margin-left: 40px ;

}
.imgpara2{
  margin-top: -210px;
  margin-left: 40px;
}
.imgpara3{
  margin-top: -200px;
  margin-left: 340px;

}
.img2{
  grid-column: 4 / span 6;
}

.img3{
  grid-column: 10 / span 3;
}
.img4{
  grid-column: 1 / span 5;
}
.img5{
  grid-column: 6 / span 3;
}
.img6{
  grid-column: 9 / span 4;
}
/* BMI CALCULATOR */
.bmi{
  
  margin: 88px 384px;
}
.bmi-cal{
  margin: 0px -190px;
  background-color: #222222;
  justify-content: space-between;
  padding: 50px 190px;
}
table, th, td {
  border: 2px rgba(255, 255, 255, 0.1) solid;
  border-collapse: collapse;
  text-align: center;
  padding: 15px 20px;
}
.bmi-heading{
  font-size: 28px;
  margin-bottom: 52px;
}
.bmi-heading2{
  font-size: 28px;
}
input , select{
  padding: 13px 20px;
  width: 300px;
  margin-right: 12px;
  border: none;
  margin-bottom: 12px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.5);

  
}
option {
  font-weight: 400;
  background-color:gray; 
}
.s{
  width: 343px;
}
select{
  width: 98%;
}
.bmiform > p{
  margin-bottom: 34px;
}
.butt{
  margin-top: 50px;
}

/* team */
.team{
  /* border: 5px blue solid; */
  text-align: center;
  margin-top: 88px;
}
.team-container{
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 20px;
  border-radius: 18px;
  padding: 20px;
}
.team > p {
  margin-top: 14px;
  margin-bottom: 58px;
}
.team-container-img{
  width: 100%;
  height: 100%;
  border-radius: 18px;
  
}
.trainer-img1{
 
  grid-column: 1 / 4 span;
  object-fit: cover;

}
.trainer-img2{
  grid-column: 5 / 4 span;
}
.trainer-img3{

  grid-column: 9 / 4 span;
  
}
.trainer-img4{

  grid-column: 1 / 4 span;
}
.trainer-img5{

  grid-column: 5 / 4 span;
}
.trainer-img6{
  /* border: 5px green solid;
  border-radius: 18px; */
  grid-column: 9 / 4 span;
}
.trainer-des{
  margin-top: -66px;
  margin-left: 30px;
}
.trainer-des > h4{
  font-size: 1.3rem;
  font-weight: 900;
}
.trainer-des > p{
  font-size: 0.9rem;
}


/* footer */
footer{
  background-color: rgba(255, 255, 255, 0.1);
}
.footer{
 margin-left: 190px;
 margin-right: 190px;
 padding-top: 66px;
  justify-content: space-between;
}
.footer-container-1 > h1 {
  font-weight: 800;
  font-size: 5rem;
}
.footer h3{
  font-weight: 700;
  font-size: 2rem;
}
.footer-anchor{
  flex-direction: column;
  gap: 20px;
  margin-top: 39px;
}
.footer-anchor > a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  
}
.line{
  
  margin: 79px 190px 36px 190px;
}
.footer-des{
  text-align: center;
  padding-bottom: 35px;
  font-size: 1.3rem;
}

/* media query */
@media screen and (max-width: 576px) {
  .navbanner {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
  }
  .nav-links {
    display: none;
  }
  .lines {
    display: block;
  }
  .line {
    border-top: 2px white solid;
    padding: 2px;
    width: 18px;
  }
  .banner{
    flex-direction: column;
    max-height: 100%;
  }
  .btns{
    display: flex;
    flex-direction: row;
  }
  .banner-side{
    max-width: 100%;
    height: 600px;
  }
 .card1{
  margin-left: 180px;
  background-color: transparent;
  backdrop-filter: blur(10px);
 }
 .card2{
  margin-left: 20px;
 }
 .habit1{
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}
.habit2 {
  grid-template-columns: repeat(1,1fr);
  margin: 0 auto;
  gap: 40px;
}
.card > p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 80px;
  padding-left: 80px;
}
.habit{
  margin-top: 20px;
}
.run{
  background-color: rgba(34, 34, 34, 1);
  margin: 20px;
  padding: 10px;
  flex-direction: column;
  border-radius: 18px;
  margin-top: 66px;
}
.run1 , .run2 , .training , .bmi, .bmi-al{
  margin: 0 auto ;
  margin-bottom: 31px;
  padding: 33px;
}
.container{
  grid-template-columns: repeat(2,1fr);
}

.img1 , .img4{
  display: none;
}
.bmi-cal{
  display: flex;
  flex-direction: column;
}
.bmiform{
  margin-top: 30px;
  margin-left: 15px;

}
.chart{
  margin-left: 15px;
}
select , input {
  width: 34%;
}
.s{
  width: 45%;
}
.act{
  width: 95%;
}
.trainer-img1 , .trainer-img4{
  display: none;
}
.team-container{
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(4,1fr);
}
.trainer-img2, .trainer-img3, .trainer-img5 ,.trainer-img6 {
  grid-column: 1 / 12 span;
}
}