@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parisienne&display=swap');
* {
  margin: 0px;
  padding: 0px;
}
.inter-font {
  font-family: "Inter", sans-serif;
}
.parisienne {
  font-family: "Parisienne", cursive;
  font-weight: 400;
}

/* shared */
.display-flex {
  display: flex;
}
.light-color {
  color: #e6533c;
}
.white {
  color: #ffffff;
}
.gray {
  color: rgba(255, 255, 255, 0.5);
}
h2{
  font-size: 3rem;
  margin-bottom: 14px;
  font-weight: 900;
}
.btn-primary {
  padding: 16px 47px;
  border-radius: 46px;
  border: none;
  background-color: #e6533c;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
  margin-right: 14px;
}

/* nav */
.navbanner {
  height: 715px;
  padding: 57px 190px;
  align-items: center;
  background-image: linear-gradient(to bottom, #0f0f0f 0%, #1a1a1a 100%);
}
.navi {
  /* border: 5px red solid; */
  justify-content: space-between;
}
.nav-links {
  /* border: 5px green solid; */
  width: 465px;
  height: 45px;
  justify-content: space-between;
  gap: 47px;
  padding-right: 24px;

  border-radius: 46px;
  align-items: center;
}
.brand-name {
  font-size: 2rem;
  font-weight: 900;
}
.link {
  font-size: 1.1rem;
  font-weight: 400;
}
.home {
  width: 100%;
  height: 100%;
  background-color: #e6533c;
  border-radius: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.1rem;
}
.lines {
  display: none;
}

/* banner */
.banner {
  width: 1440px;

  justify-content: space-between;
  max-width: 100%;
}
.banner-description {
  margin-top: 96px;
}
h1 {
  font-size: 4.8rem;
  font-weight: 900;
}
.second-btn {
  background-color: transparent;
  border: 2px white solid;
}
.para {
  margin-bottom: 28px;
  margin-top: 28px;
}
.banner-side{
  display: flex;
  flex-direction: column;

}
.trainer1 {
  max-width: 100%;
  margin-top: 32px;

  margin-right: 80px;
}
#count{
  font-size: 2.5rem;
  font-weight: 900;
}
.card1{
  font-size: 0.9rem;
  padding: 17px 23px;
  margin-top: -457px;
  margin-left: 274px;
  max-width: 60%;
  border-radius: 12px;
  border: none;
  background-color: transparent;
  backdrop-filter: blur(10px);
  
}

.circle{
  height: 40px;
  font-weight: 40px;

  border-radius: 50%;
}
.card2{
  font-size: 0.9rem;
  padding: 17px 23px;
  max-width: 40%;
  border-radius: 12px;
  margin-left:-113px ;
  margin-top: 110px;
  border: none;
  background-color: transparent;
  backdrop-filter: blur(10px);
}
#para2{
  color: rgba(239, 237, 232, 0.65);
}

/* main */
/* change habit */
body{
  background-color: black;
}

.habit1{
  text-align: center;

  margin: 100px 187px 58px 187px;
  max-width: 100%;
}
.habit1 > p {
  font-size: 0.9rem;
}
.habit2{
  
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin: 0px 198px 100px 198px;
  text-align: center;
  gap: 40px;
}
.card > img{
  border: 5px #B9B9B9 solid;
  border-radius: 50%;
  max-width: 100%;
  margin-bottom: 30px;
}
.card > p {
  margin-top: 6px;
}

/* run extra */

.run{
  background-color: rgba(34, 34, 34, 1);
  margin: 100px 190px;
  padding: 30px;
  justify-content: space-between;
}
.run1{
  margin: 40px 165px 4px 40px ;

}
.run1 > p {
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 34px;
}
.run2>img{
  max-width: 100%;
  width: 450px;
  height: 310px;
  border-radius: 18px;
}







/* media query */
@media screen and (max-width: 576px) {
  .navbanner {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    height: 100%;
  }
  .nav-links {
    display: none;
  }
  .lines {
    display: block;
  }
  .line {
    border-top: 2px white solid;
    padding: 2px;
    width: 18px;
  }
  .banner{
    flex-direction: column;
    max-height: 100%;
  }
  .btns{
    display: flex;
    flex-direction: row;
  }
  .banner-side{
    max-width: 100%;
    height: 600px;
  }
 .card1{
  margin-left: 180px;
  background-color: transparent;
  backdrop-filter: blur(10px);
 }
 .card2{
  margin-left: 20px;
 }
 .habit1{
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}
.habit2{
  grid-template-columns: repeat(1,1fr);
  margin: 0 auto;
  gap: 40px;
}
.card > p {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 80px;
  padding-left: 80px;
}
.habit{
  margin-top: 20px;
}
.run{
  background-color: rgba(34, 34, 34, 1);
  margin: 20px;
  padding: 10px;
  flex-direction: column;
  border-radius: 18px;
  margin-top: 66px;
}
.run1 , .run2{
  margin: 0 auto ;
  margin-bottom: 31px;
  padding: 33px;
}
}
